.mainHeader {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  background: $header-color;
}

.mainHeader-content {
  width: 80%;
  max-width: $page-width;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.mainHeader-content-logo {
  height: 30px;
}

.mainHeader-nav-toggle {
  display: none;
}

.mainHeader-nav-toggleLabel {
  cursor: pointer;
  display: none;
  line-height: normal;

  @include breakpoint(tabletPortrait) {
    display: block;
    z-index: 2;
  }
}

.mainHeader-nav-list {
  height: $header-height;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;

  @include breakpoint(tabletPortrait) {
    position: absolute;
    top: $header-height;
    width: 100%;
    height: auto;
    padding: 5%;
    max-height: 0px;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    border-top: 3px solid $link-color-dark;
    background: $header-color;
    transform-origin: 0% 0%;
    transform: scaleY(0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

@include breakpoint(tabletPortrait) {
  .mainHeader-nav-list--open {
    max-height: 1000px;
    transform: scaleY(1);
  }
}

.mainHeader-nav-list-subList {
  display: none;
  position: absolute;
  top: $header-height;
  background: $header-color;
  width: 250px;
  border-top: 3px solid $link-color-dark;

  .mainHeader-nav-list-listItem {
    padding: 12px 5%;
  }

  @include breakpoint(tabletPortrait) {
    position: relative;
    width: auto;
    top: 0;
    display: block;
    border-top: none;

    .mainHeader-nav-list-listItem {
      padding: 0 5%;
    }
  }
}

.mainHeader-nav-list-listItem {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @include breakpoint(tabletPortrait) {
    height: auto;
    display: block;
  }

  &:hover .mainHeader-nav-list-subList {
    display: block;
  }

  a {
    display: block;
    padding: 0 12px;
    color: #333;

    &:hover {
      opacity: 0.7;

      @include breakpoint(tabletPortrait) {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    @include breakpoint(tabletPortrait) {
      padding: 10px 5%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    }
  }
}
