.testimonialsWidget {
  width: 100%;
  display: flex;
  overflow: hidden;
  text-align: center;
}

.testimonialsWidget-testimonial-star {
  margin: 0 4px;
}

.testimonialsWidget-testimonial-divider {
  height: 3px;
  width: 175px;
  margin: 20px auto;
  background-color: #efefef;
}

.testimonialsWidget-testimonial-name {
  font-size: 12px;
  color: $font-color;
}