.testimonialsWidget {
  width: 100%;
  display: flex;
  overflow: hidden;
  text-align: center;
}

.testimonialsWidget-testimonial-star {
  margin: 0 4px;
}

.testimonialsWidget-testimonial-name {
  margin: 12px 0;
  padding: 0;
}

.testimonialsWidget-testimonial-content {
  margin-top: 0;
}