* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: $header-color;
  color: #666;
}

body {
  margin: 0;
  background-color: white;
  font-size: 14px;
  font-family: 'Arvo', Georgia, "Times New Roman", serif;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0 18px;
  color: #666;
}

ol {
  padding: 0 18px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  line-height: 1.4em;
  padding-bottom: 12px;
  color: #333;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 1.4em;
  padding-bottom: 12px;
  color: #333;
}

h3 {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  line-height: 1.4em;
  padding-bottom: 12px;
  color: #333;
}

h4 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  line-height: 1.4em;
  color: #333;
}

h5 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 24px;
  line-height: 1.4em;
  color: #333;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  line-height: 1.4em;
  color: #333;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }
}

input,
textarea {
  padding: 16px;
  line-height: 1em;
  background-color: #eee;
  border: none;
  border-radius: 0;
  color: #666;
}

select {
  padding: 16px 20px 16px 10px;
  line-height: 1em;
  background-color: #eee;
  border: none;
  border-radius: 0;
  color: #666;
  appearance: none;
}

.page {
  width: 80%;
  max-width: $page-width;
  margin: 0 auto;
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  margin: 54px 0;
}