$font-color: #666;
$header-color: #efd700;
$link-color: #f7c100;
$border-color: #d8d8d8;

$page-width: 1080px;
$header-height: 54px;

// Breakpoints
$b-large: 1920px;
$b-medium: 1280px;
$b-small: 1025px;
$b-tabletLandscape: 1024px;
$b-tabletPortrait: 768px;
$b-mobile: 485px;